* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
}

#canvas1 {
    border: 5px solid black;
    position: relative;
    transform: translate(-50%, -50%);
    background: #4d79bc;
    font-family: 'Bangers', cursive;
    margin-top: 15px;
}

#restart {
    position: relative;
    border: 1px solid black;
    width: 235px;
    height: 70px;
    color: white;
    background: #4d79bc;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    top: 500px;
    left: -5%;
    cursor: pointer;
}

#layer1, #layer2, #layer3, #layer4, #player, #angler1, #angler2, #lucky, #hivewhale, #drone, #projectile, #gears, #smokeExplosion, #fireExplosion {
    display: none;
}
